html, body {
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-family: "Noto Serif SC", serif;
  scroll-behavior: auto; }

p, a {
  -webkit-font-smoothing: antialiased; }

a {
  color: #CC3535;
  text-decoration: none;
  transition: .3s; }

a:hover {
  transition: .3s; }

img {
  width: 100%;
  vertical-align: bottom; }

input {
  font: inherit;
  color: #fff;
  background-color: transparent;
  border: none; }
  input[type=radio] {
    display: none; }

body {
  background-color: black;
  scroll-behavior: smooth; }

.fade {
  display: none;
  width: 800px;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3; }
  @media screen and (max-width: 414px) {
    .fade {
      width: 100%; } }
  .fade .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.congratulations {
  font-size: 28px;
  line-height: 1.4em;
  padding: 50px; }
  @media screen and (max-width: 414px) {
    .congratulations {
      font-size: 4vw;
      padding: 24px; } }

.container {
  box-sizing: border-box;
  background-color: #333;
  max-width: 800px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 414px) {
    .container {
      width: 100%; } }

.header {
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 10px; }
  .header-logo {
    width: auto;
    height: 150px;
    margin-bottom: 5px; }
  .header-title {
    font-size: 36px; }
  @media screen and (max-width: 414px) {
    .header {
      height: 17%;
      margin-bottom: 0; }
      .header-logo {
        height: 75%; }
      .header-title {
        font-size: 6.5vw; } }

.view {
  height: 28%;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 414px) {
    .view {
      margin-bottom: 10px; } }
  .view-initial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: cover; }
    .view-initial .message {
      font-size: 30px;
      color: #CC3535;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      object-fit: cover; }
      @media screen and (max-width: 414px) {
        .view-initial .message {
          font-size: 24px;
          white-space: nowrap; } }
    .view-initial .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      object-fit: cover; }
  .view-selection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url("../img/character_cutin.gif");
    background-size: cover;
    display: flex;
    justify-content: space-between; }
    .view-selection .character {
      width: 55%;
      color: #1E1E1E;
      text-align: left;
      padding: 30px; }
      .view-selection .character-nickname {
        font-size: 24px;
        margin-bottom: 10px; }
      .view-selection .character-name {
        font-size: 36px;
        margin-bottom: 15px; }
      .view-selection .character-note {
        font-size: 16px;
        line-height: 20px; }
      .view-selection .character-face {
        height: 100%;
        object-fit: cover;
        z-index: -1;
        width: 50%;
        position: absolute;
        right: 0;
        margin-right: 0; }
      @media screen and (max-width: 414px) {
        .view-selection .character {
          width: 55%;
          padding: 10px; }
          .view-selection .character-nickname {
            font-size: 4vw;
            margin-bottom: 5px; }
          .view-selection .character-name {
            font-size: 10vw;
            margin-bottom: 10px; }
          .view-selection .character-note {
            font-size: 3.5vw;
            line-height: 1.3em; }
          .view-selection .character-face {
            width: 50%;
            position: absolute;
            right: 0;
            margin-right: 0; } }

.panel {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 5px;
  transition: .5s;
  cursor: pointer; }
  .panel:hover {
    background-color: #CC3535; }
  .panel-group {
    display: flex;
    justify-content: center;
    height: 25%;
    margin-right: -5px; }
  .panel-title {
    font-size: 24px;
    margin-bottom: 20px; }
  .panel-text {
    margin-bottom: 15px; }
  .panel-fighter {
    width: calc(20% - 5px); }
  .panel-image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  @media screen and (max-width: 414px) {
    .panel {
      margin-bottom: 5px;
      margin-right: 0; }
      .panel-group {
        height: 25%;
        margin-right: 0; }
      .panel-title {
        font-size: 6vw;
        margin-bottom: 10px; }
      .panel-text {
        font-size: 4vw;
        margin-bottom: 10px; }
      .panel-fighter {
        width: 20%; } }

@keyframes button {
  50% {
    transform: scale(0.98); }
  to {
    transform: scale(1); } }

.btn {
  font-size: 24px;
  border: 2px solid #E4E4E4;
  border-radius: 5px;
  padding: 15px 20px;
  position: relative;
  outline: none; }
  @media screen and (max-width: 414px) {
    .btn {
      font-size: 6vw;
      padding: 10px 15px; } }
  .btn-inactive {
    cursor: not-allowed;
    background: -moz-radial-gradient(#DBD7D7, #717171);
    background: -webkit-radial-gradient(#DBD7D7, #717171);
    background: radial-gradient(#DBD7D7, #717171); }
  .btn-active {
    cursor: pointer;
    background: -moz-radial-gradient(#C85353, #642A2A);
    background: -webkit-radial-gradient(#C85353, #642A2A);
    background: radial-gradient(#C85353, #642A2A); }
    .btn-active.animated {
      animation: button 1s ease-out infinite; }
  .btn-start {
    padding: 10px 15px; }
  .btn-command {
    width: 25%;
    margin-right: 15px; }
    .btn-command:last-child {
      margin-right: 0; }
    .btn-command-wrapper {
      display: flex;
      justify-content: center; }
    @media screen and (max-width: 414px) {
      .btn-command {
        width: 30%;
        margin-right: 5px; } }
  .btn-lethal {
    display: none;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    font-size: 36px;
    border: none;
    background: none; }
    @media screen and (max-width: 414px) {
      .btn-lethal {
        font-size: 24px; } }

.cutin {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }
  .cutin.show {
    animation: cutin 2s ease-out; }
  .cutin-window {
    position: absolute;
    bottom: 40%;
    width: 100%;
    height: 55%; }
    .cutin-window .img {
      height: 100%;
      object-fit: contain;
      object-position: 50% -50%;
      z-index: 2; }
    .cutin-window.enemy {
      background-color: #CC3535;
      transform: translate(100%);
      animation: cutin-window 2s ease-out; }
    .cutin-window.lethal {
      background: -moz-radial-gradient(#69FF2A, #155419);
      background: -webkit-radial-gradient(#69FF2A, #155419);
      background: radial-gradient(#69FF2A, #155419);
      height: auto; }
    .cutin-window .telop {
      color: #CC3535;
      background-color: #000;
      padding: 15px; }
      .cutin-window .telop .nickname {
        font-size: 30px;
        margin-bottom: 10px; }
      .cutin-window .telop .name {
        font-size: 36px; }
    @media screen and (max-width: 414px) {
      .cutin-window .img {
        height: 80%; }
        .cutin-window .img.lethal {
          height: 100%;
          object-fit: contain; }
      .cutin-window .telop {
        padding: 10px; }
        .cutin-window .telop .nickname {
          font-size: 5vw;
          margin-bottom: 10px; }
        .cutin-window .telop .name {
          font-size: 8vw; } }

@keyframes cutin {
  from {
    opacity: 0; }
  15% {
    opacity: 1;
    z-index: 3; }
  90% {
    opacity: 1;
    z-index: 3; }
  to {
    z-index: -1;
    opacity: 0; } }

@keyframes cutin-window {
  from {
    transform: translate(100%);
    opacity: 0; }
  15% {
    transform: translate(0);
    opacity: 1; }
  90% {
    transform: translate(0);
    opacity: 1; }
  to {
    transform: translate(-100%);
    opacity: 0; } }

.battle-window {
  height: 60%;
  background-size: cover;
  position: relative;
  padding: 0 15px;
  overflow: hidden; }
  @media screen and (max-width: 414px) {
    .battle-window {
      padding: 0 5px; } }
  .battle-window::before {
    content: '';
    filter: blur(2px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center; }
  .battle-window.stage-1::before {
    background-image: url("../img/background01.jpg"); }
  .battle-window.stage-2::before {
    background-image: url("../img/background02.jpg"); }
  .battle-window.stage-3::before {
    background-image: url("../img/background03.jpg"); }
  .battle-window.stage-4::before {
    background-image: url("../img/background04.jpg"); }
  .battle-window.stage-5::before {
    background-image: url("../img/background05.jpg"); }
  .battle-window.stage-6::before {
    background-image: url("../img/background06.jpg"); }
  .battle-window .enemy-info {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px; }
    .battle-window .enemy-info .name, .battle-window .enemy-info .hp {
      display: block;
      font-size: 24px;
      filter: drop-shadow(2px 2px 2px #000); }
      @media screen and (max-width: 414px) {
        .battle-window .enemy-info .name, .battle-window .enemy-info .hp {
          font-size: 14px; } }
  .battle-window .enemy-img {
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: contain;
    filter: drop-shadow(5px 5px 5px #000); }
    .battle-window .enemy-img.damaged {
      animation: damaged .1s ease-out .3s 5; }
    .battle-window .enemy-img.beaten {
      animation: beaten .5s ease-out; }
  .battle-window .history {
    height: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(#B6B4B4, #5B5A5A);
    background: -webkit-linear-gradient(#B6B4B4, #5B5A5A);
    background: linear-gradient(#B6B4B4, #5B5A5A);
    border: 3px solid #DADADA;
    border-radius: 5px;
    margin: 0 15px;
    padding: 10px;
    overflow-y: scroll; }
    .battle-window .history-text {
      font-size: 20px;
      line-height: 30px;
      text-align: left; }
    @media screen and (max-width: 414px) {
      .battle-window .history {
        height: 5em;
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px; }
        .battle-window .history-text {
          font-size: 4vw;
          line-height: 1.3em; } }

@keyframes damaged {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg); }
  25% {
    transform: translate(2px, 2px) rotateZ(1deg); }
  50% {
    transform: translate(0px, 2px) rotateZ(0deg); }
  75% {
    transform: translate(2px, 0px) rotateZ(-1deg);
    opacity: .7; }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg); } }

@keyframes beaten {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(0, 100%); } }

.gauge {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  background-color: #fff;
  border: 5px solid #DADADA;
  border-radius: 20px;
  position: relative; }
  @media screen and (max-width: 414px) {
    .gauge {
      height: 20px;
      border: 3px solid #DADADA; } }
  .gauge-remain {
    box-sizing: border-box;
    height: 100%;
    border: 1px solid #707070;
    border-radius: 20px; }
    .gauge-remain-hp {
      background: -moz-linear-gradient(90deg, #F8F080, #B8AF3C);
      background: -webkit-linear-gradient(90deg, #F8F080, #B8AF3C);
      background: linear-gradient(90deg, #F8F080, #B8AF3C); }
      .gauge-remain-hp.pinch {
        background: -moz-linear-gradient(90deg, #FEB9AE, #FF2300);
        background: -webkit-linear-gradient(90deg, #FEB9AE, #FF2300);
        background: linear-gradient(90deg, #FEB9AE, #FF2300); }
    .gauge-remain-mp {
      background: -moz-linear-gradient(90deg, #45DF34, #D8FFD2);
      background: -webkit-linear-gradient(90deg, #45DF34, #D8FFD2);
      background: linear-gradient(90deg, #45DF34, #D8FFD2); }
  .gauge .number {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24px;
    color: #4E4E4E;
    z-index: 2; }
    @media screen and (max-width: 414px) {
      .gauge .number {
        font-size: 14px; } }

.fighter-info {
  height: 18%;
  display: flex;
  justify-content: space-between;
  padding: 20px; }
  @media screen and (max-width: 414px) {
    .fighter-info {
      padding: 5px; } }
  .fighter-info-face {
    width: 30%;
    position: relative;
    overflow: hidden; }
    .fighter-info-face .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
    .fighter-info-face.limit-break {
      background: -moz-radial-gradient(#69FF2A, #155419);
      background: -webkit-radial-gradient(#69FF2A, #155419);
      background: radial-gradient(#69FF2A, #155419); }
  .fighter-info-status {
    width: 70%;
    margin-left: 5px; }
    .fighter-info-status .about {
      display: flex;
      justify-content: space-between;
      height: 60%; }
      @media screen and (max-width: 414px) {
        .fighter-info-status .about {
          height: auto;
          padding-bottom: 5px; } }
      .fighter-info-status .about .fighter {
        text-align: left; }
        .fighter-info-status .about .fighter .nickname {
          font-size: 24px;
          margin-bottom: 5px; }
        .fighter-info-status .about .fighter .name {
          font-size: 36px; }
      .fighter-info-status .about .record .number {
        font-size: 36px;
        margin-bottom: 5px; }
      .fighter-info-status .about .record .index {
        font-size: 20px; }
      @media screen and (max-width: 414px) {
        .fighter-info-status .about .fighter .nickname {
          font-size: 4vw;
          margin-bottom: 5px; }
        .fighter-info-status .about .fighter .name {
          font-size: 7vw; }
        .fighter-info-status .about .record .number {
          font-size: 10vw;
          margin-bottom: 0; }
          .fighter-info-status .about .record .number .unit {
            font-size: 5vw; }
        .fighter-info-status .about .record .index {
          font-size: 4vw; } }
    .fighter-info-status .parameter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      position: relative;
      margin-bottom: 15px; }
      .fighter-info-status .parameter .index {
        width: 20%;
        font-size: 30px; }
    @media screen and (max-width: 414px) {
      .fighter-info-status .parameter {
        margin-bottom: 5px; }
        .fighter-info-status .parameter .index {
          font-size: 5vw; } }

.effect-attack {
  position: absolute;
  width: 30%;
  top: 40%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) rotate(-150deg);
  filter: blur(2px); }
  .effect-attack.attacked {
    animation: punch .3s ease-out; }

@keyframes punch {
  from {
    transform: translate(-50%, -50%) scale3d(1, 1, 1) rotate(-150deg);
    filter: blur(2px);
    opacity: 0; }
  60% {
    transform: translate(-50%, -50%) scale3d(1.2, 1.2, 1.2) rotate(-30deg);
    filter: blur(1px);
    opacity: 0.9; }
  70% {
    transform: translate(-50%, -50%) scale3d(2, 2, 2);
    filter: blur(0);
    opacity: 1; }
  to {
    transform: translate(-50%, -50%) scale3d(2, 2, 2);
    filter: blur(0);
    opacity: 1; } }

.footer {
  width: 100%;
  height: 8%;
  text-align: center;
  position: relative; }
  .footer .link_anime {
    font-size: 20px;
    display: block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%); }
  .footer .link_start {
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%); }
  @media screen and (max-width: 414px) {
    .footer {
      height: 8%; }
      .footer .link_anime {
        font-size: 4vw;
        white-space: nowrap; }
      .footer .link_start {
        font-size: 4vw;
        top: 5px; } }
