// ========================
// 変数
// ========================
$font-color_default: #fff;
$font-color_dark: #1E1E1E;
$font-color_red: #CC3535;
$color_background: #333;
$color_background_red: #CC3535;

$site_width: 800px;

$font-size_default: 16px;
$font-size_button: 20px;
$font-size_s: 14px;
$font-size_m: 18px;
$font-size_l: 24px;
$font-size_xl: 30px;
$font-size_xxl: 36px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;

$font-family_corp: 'Noto Serif SC', serif;

// ========================
// animation
// ========================
// @keyframes button {
//   0% { transform: scale(1.2); opacity: 1 }
//   90% { opacity: .1 }
//   to { transform: scale(1.2, 1.5); opacity: 0 }
// }
@keyframes button {
  50% { transform: scale(0.98) }
  to { transform: scale(1) }
}
@keyframes selected {
  0% {}
  90% {}
  to {}
}

// ========================
// base
// ========================
html, body {
  width: 100%;
  color: $font-color_default;
  font-size: $font-size_default;
  font-family: $font-family_corp;
}

p, a {
  -webkit-font-smoothing: antialiased;
}

a {
  color: $font-color_red;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  transition: .3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}

input {
  font: inherit;
  color: $font-color_default;
  background-color: transparent;
  border: none;
  &[type=radio] {
    display: none;
  }
}
// ========================
// 背景
// ========================
body {
  background-color: black;
}
// ========================
// container
// ========================
.container {
  background-color: $color_background;
  width: $site-width;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

// ========================
// header
// ========================
.header {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: $space_m;
  .logo {
    width: auto;
    height: 150px;
    margin-bottom: $space_s;
  }
  .title {
    font-size: $font-size_xxl;
  }
}

// ========================
// View Screen
// ========================
.view {
  margin-bottom: $space_xl;
  height: 300px;
  position: relative;
  overflow: hidden;
  &-initial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: cover;
    .message {
      font-size: $font-size_xl;
      color: $font-color_red;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      object-fit: cover;
    }
    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      object-fit: cover;
    }
  }
  &-selection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url("../img/character_cutin.gif");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    .character {
      color: $font-color_dark;
      text-align: left;
      padding: $space_xxl;
      &-nickname {
        font-size: $font-size_l;
        margin-bottom: $space_m;
      }
      &-name {
        font-size: $font-size_xxl;
        margin-bottom: $space_l;
      }
      &-note {
        font-size: $font-size_default;
        line-height: $font-size_default + 4px;
      }
      &-face {
        width: 300px;
        height: 100%;
        margin-right: $space_xxl;
        object-fit: cover;
      }
    }
  }
}

// ========================
// キャラ選択
// ========================
.panel {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-bottom: $space_m;
  transition: .5s;
  cursor: pointer;
  &:hover {
    background-color: $color_background_red;
  }
  &-group {
    display: flex;
    justify-content: center;
    height: 300px;
    margin-right: -$space_s;
    .panel {
      margin-right: $space_s;
    }
  }
  &-title {
    font-size: $font-size_l;
    margin-bottom: $space_xl;
  }
  &-text {
    margin-bottom: $space_l;
  }
  &-fighter {
    width: calc(25% - #{$space_s});
  }
  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
// ========================
// ボタン
// ========================
.btn {
  font-size: $font-size_button;
  border: 2px solid #E4E4E4;
  border-radius: 5px;
  padding: $space_l $space_xl;
  position: relative;
  &-inactive {
    cursor: not-allowed;
    background: -moz-radial-gradient(#DBD7D7, #717171);
    background: -webkit-radial-gradient(#DBD7D7, #717171);
    background: radial-gradient(#DBD7D7, #717171);
  }
  &-active {
    cursor: pointer;
    background: -moz-radial-gradient(#C85353, #642A2A);
    background: -webkit-radial-gradient(#C85353, #642A2A);
    background: radial-gradient(#C85353, #642A2A);
    &.animated {
      animation: button 1s ease-out infinite;
    }
  }
  &::before, &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-color: #C85353;
    border: 1px solid #642A2A;
    z-index: 100;
    transform: translate3d(0,0,0);
  }
  &::before {
    animation: button 2s ease-out infinite;
  }
  &::after {
    animation: button 2s ease-out 1s infinite;
  }
}
// ========================
// フッター
// ========================
.footer {
  height: 80px;
  position: relative;
  .link_anime {
    display: block;
    position: absolute;
    left: 50%;
    bottom: $space_m;
    transform: translate(-50%);
  }
  .link_start {
    top: $space_m;
    &::before {
      border: 1px solid $font-color_red;
    }

  }
}
