body {
  background-color: #333333;
}
.fighter-contaier {
  display: flex;
  height: 15%;
  justify-content: center;
}
.fighter {
  width: 20%;
  overflow: hidden;
  box-sizing: border-box;
}
.fighter:hover {
  background-color: #CC3535;
}
.fighter_image {
  height:100%;
  position: relative;
  left: 50%;
  margin-left: -50%;
}
